<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Results-driven Operations Engineer with 3+ years of experience in the US healthcare industry, proficient in ITIL processes, scripting (PowerShell, Python), and system monitoring. Passionate about automation and DevOps, actively transitioning into a DevOps Engineer role with hands-on experience in CI/CD pipelines, infrastructure management, and deployment automation. Skilled in troubleshooting complex issues and collaborating with development and operations teams to enhance efficiency, reliability, and scalability in cloud and on-premises environments.
</div>
